* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #dfdfdf;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(img/f936c5a35c35c3f4d7c498fb8edad0f1.png);
    background-size: cover;
    background-position: center;
}