* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #dfdfdf;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_clock {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(img/images.png);
    background-size: cover;
}

.needle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom;
    border-radius: 3px;
}

.hr {
    width: 4px;
    height: 20%;
    background-color: black;
}

.min {
    width: 2px;
    height: 40%;
    background-color: black;
}

.sec {
    width: 3px;
    height: 45%;
    background-color: #900C3F;
}